# Feishu
FEISHU_APP_ID=
FEISHU_APP_SECRET=

# Flow2API
FLOW2API_MCP_HTTP_URL=
FLOW2API_MCP_HTTP_TOKEN=

# Volcengine Doubao TTS 2.0
DOUBAO_TTS_API_KEY=
DOUBAO_TTS_SPEAKER_ZH_CN=zh_female_gaolengyujie_uranus_bigtts
DOUBAO_TTS_SPEAKER_TH=th_female_bv568_neutral_uranus_bigtts
